@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ff0b0f;
  --main-color-hover: #ff0b0f90;
  --bg-darker: #111;
  --bg-dark: #333;
  --bg-light: #edf2f4;
  --grid-bg-color: #444;
  --color-text: #8d99ae;
  --color-text-light: #fff;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  --aspect-ratio: 16/9;
}

#root {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-darker);
  color: var(--color-text-light);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: var(--main-color);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.s-between {
  justify-content: space-between;
}

.header {
  background-color: var(--bg-dark);
}

.container {
  margin: 0 auto;
  max-width: 1360px;
  display: flex;
}

.main {
  width: 100%;
  padding-bottom: 1rem;
  background-color: var(--bg-grid-color);
}

.sidebar {
  width: 250px;
  padding: 0 1rem 1rem;
}

.cart-icon {
  display: flex;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: var(--main-color);
  border-radius: 50%;
}

.cart-details-item {
  padding: 1rem .5rem;
  border-bottom: solid 1px var(--color-text);
}

.cart-details-title {
  margin-bottom: .3rem;
}

.total-price {
  padding: 1rem .5rem;
}

.product-price {
  font-size: 1.2rem;
}

.product-cart-counter {
  position: absolute;
  bottom: -5px;
  left: 28px;
  width: 30px;
  height: 30px;
  border: solid 1px;
  border-radius: 50%;
  font-size: 1.2rem;
  text-align: center;
  padding-top: .2rem;
  background-color: var(--bg-darker);
}

.icon {
  display: block;
  margin: auto;
  width: 70%;
}

.disable-cart {
  filter: opacity(.5);
}

.cart-button {
  background-color: var(--bg-dark);
  color: var(--color-text-light);
  border-radius: 50%;
  width: 25px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.item-cart-counter {
  padding: .5rem;
}

.buy-products-button {
  background-color: var(--main-color);
  padding: .5rem 0;
  width:100%;
  text-align: center;
  font-weight: bold;
}

.buy-products-button:hover {
  background-color: var(--main-color-hover);
}

.title {
  margin-bottom: 1rem;
}

.categories .title {
  text-align: right;
}

.categories-list {
  text-align: right;
}

.category {
  border-bottom: solid 1px var(--main-color);
}

.category:hover {
  background-color: var(--bg-dark);
  color: var(--color-text-light);
  transition: background-color 0.3s ease-in-out;
}

.category.selected {
  background-color: var(--main-color);
  color: var(--color-text-light);
  transition: background-color 0.3s ease-in-out;
}

.category-link {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
  font-size: 1.5rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: var(--grid-bg-color);
  gap: 1px;
}

.product-item {
  padding: 1rem;
  background-color: var(--bg-dark);
}

.product-image {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.product-row {
  padding: .3rem 1rem;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: .5rem;
  text-align: center;
  background-color: var(--bg-dark);
  color: var(--color-text);
  font-size: .8rem;
}

.footer a {
  color: var(--color-text);
}

.open-modal {
  cursor: pointer;
  width: 100%;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--bg-darker);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.35s ease-in;
}

.modal-content {
  padding: 0 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.modal-content-image {
  grid-column: 1/2;
}

.modal-image {
  width: 100%;
}

.modal-content-description {
  grid-column: 2/4;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  background: var(--bg-dark);
  overflow: auto;
  cursor: default;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  cursor: pointer;
  font-size: 1.5rem;
}

.modal-footer {
  font-size: 1.5rem;
}

.modal-header,
.modal-footer {
  padding: 1rem;
}

.modal p + p {
  margin-top: 1rem;
}

[data-animation="slideInOutLeft"] .modal-dialog {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s var(--bounceEasing);
}

[data-animation="slideInOutLeft"].is-visible .modal-dialog {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}
